<header
  class={`
    bg-[#00000f]
    flex justify-center items-center
    mx-auto
    sticky top-0
    pt-10
    py-5
   lg:w-full
   z-10
   border-b-2  border-gray-300  rounded-md
  
  `}
>
  <a class="hover:underline hover:text-yellow-400 px-8 transition" href="#about"
    >About</a
  >
  <a
    class="hover:underline hover:text-yellow-400 px-8 ctransition"
    href="#experience"
  >
    Experience
  </a>
  <a
    class="hover:underline hover:text-yellow-400 px-8 transition"
    href="#projects">Projects</a
  >
  <a
    class="hover:underline hover:text-yellow-400 px-8 transition"
    href="#articles">Articles</a
  >
  <a
    class="hover:underline hover:text-yellow-400 px-8 transition"
    href="mailto:emiliorb26@gmail.com">Contact</a
  >
</header>
